*{
    margin:0;
    padding:0;
}

#main{
    width:100%;
}

header{
    text-align:center;
    background-color: #5f0f43;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight:600;
    color: #fff;
    padding: 10px 0 10px 0;
}